### Project - MovieLens Data Analysis

The GroupLens Research Project is a research group in the Department of Computer Science and Engineering at the University of Minnesota. The data is widely used for collaborative filtering and other filtering solutions. However, we will be using this data to act as a means to demonstrate our skill in using Python to “play” with data.

### Datasets Information:

- Data.csv: It contains information of ratings given by the users to a particular movie. Columns: user id, movie id, rating, timestamp

- item.csv: File contains information related to the movies and its genre.

- Columns: movie id, movie title, release date, unknown, Action, Adventure, Animation, Children’s, Comedy, Crime, Documentary, Drama, Fantasy, Film-Noir, Horror, Musical, Mystery, Romance, Sci-Fi, Thriller, War, Western

- user.csv: It contains information of the users who have rated the movies. Columns: user id, age, gender, occupation, zip code

### Objective:

`To implement the techniques learnt as a part of the course.`

### Learning Outcomes:
- Exploratory Data Analysis

- Visualization using Python

- Pandas – groupby, merging 


#### Domain 
`Internet and Entertainment`

**Note that the project will need you to apply the concepts of groupby and merging extensively.**

#### 1. Import the necessary packages - 2.5 marks

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

/home/laurenpease18/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

#### 2. Read the 3 datasets into dataframes - 2.5 marks

In [16]:
data  = pd.read_csv('Data.csv')
item  = pd.read_csv('item.csv')
user  = pd.read_csv('user.csv')

#### 3. Apply info, shape, describe, and find the number of missing values in the data - 5 marks
 - Note that you will need to do it for all the three datasets seperately

In [22]:
# data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user id    100000 non-null  int64
 1   movie id   100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [23]:
# data shape
data.shape

(100000, 4)

In [24]:
# data describe
data.describe()

            user id       movie id         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08

In [25]:
# data: the number of missing values 
data.isnull().sum().sum()

0

In [26]:
# item info
item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1681 entries, 0 to 1680
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie id      1681 non-null   int64
 1   movie title   1681 non-null   object
 2   release date  1681 non-null   object
 3   unknown       1681 non-null   int64
 4   Action        1681 non-null   int64
 5   Adventure     1681 non-null   int64
 6   Animation     1681 non-null   int64
 7   Childrens     1681 non-null   int64
 8   Comedy        1681 non-null   int64
 9   Crime         1681 non-null   int64
 10  Documentary   1681 non-null   int64
 11  Drama         1681 non-null   int64
 12  Fantasy       1681 non-null   int64
 13  Film-Noir     1681 non-null   int64
 14  Horror        1681 non-null   int64
 15  Musical       1681 non-null   int64
 16  Mystery       1681 non-null   int64
 17  Romance       1681 non-null   int64
 18  Sci-Fi        1681 non-null   int64
 19  Thriller      1681 non-null   int64
 20  War           1681 non-null   int64
 21  Western       1681 non-null   int64
dtypes: int64(20), object(2)
memory usage: 289.0+ KB

In [27]:
# item shape
item.shape

(1681, 22)

In [28]:
# item describe
item.describe()

,movie id,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000
mean,841.841761,0.000595,0.149316,0.080309,0.024985,0.072576,0.300416,0.064842,0.029744,0.431291,0.013087,0.014277,0.054729,0.033314,0.036288,0.146936,0.060083,0.149316,0.042237,0.016062
std,485.638077,0.024390,0.356506,0.271852,0.156126,0.259516,0.458576,0.246321,0.169931,0.495404,0.113683,0.118667,0.227519,0.179507,0.187061,0.354148,0.237712,0.356506,0.201189,0.125751
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,422.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,842.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1262.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1682.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
# item: the number of missing values 
item.isnull().sum().sum()

0

In [30]:
# user info
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

In [31]:
# user shape
user.shape

(943, 5)

In [32]:
# user describe
user.describe()

          user id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

In [33]:
# user: the number of missing values 
user.isnull().sum().sum()

0

#### 4. Find the number of movies per genre using the item data - 2.5 marks

In [106]:
number_of_movies_per_genre = item.copy()
number_of_movies_per_genre.drop(['movie id', 'movie title', 'release date'], axis=1, inplace=True)

print("The number of movies per genre")
number_of_movies_per_genre.sum()

The number of movies per genre

unknown          1
Action         251
Adventure      135
Animation       42
Childrens      122
Comedy         505
Crime          109
Documentary     50
Drama          725
Fantasy         22
Film-Noir       24
Horror          92
Musical         56
Mystery         61
Romance        247
Sci-Fi         101
Thriller       251
War             71
Western         27
dtype: int64

#### 5. Find the movies that have more than one genre - 5 marks

In [92]:
number_of_movies_per_genre2 = item.copy()
number_of_movies_per_genre2.drop(['movie id'], axis=1, inplace=True)

movie_titles = item['movie title']
counts = number_of_movies_per_genre2.sum(axis=1)

df_genre_counts = pd.concat([movie_titles, counts], axis=1)
df_genre_counts.rename(columns={ df_genre_counts.columns[1]: "genres"}, inplace=True)

more_than_one_genre = df_genre_counts['genres'] > 1
multiple_genres = df_genre_counts[more_than_one_genre]

print("Movies with more than one genre\n")
for index, row in multiple_genres.iterrows():
    print(row['movie title'], ":", row['genres'])

Movies with more than one genre

Toy Story  : 3
GoldenEye  : 3
Get Shorty  : 3
Copycat  : 3
Twelve Monkeys  : 2
Babe  : 3
Richard III  : 2
Seven (Se7en)  : 2
Usual Suspects, The  : 2
Postino, Il  : 2
French Twist (Gazon maudit)  : 2
From Dusk Till Dawn  : 5
Angels and Insects  : 2
Muppet Treasure Island  : 5
Braveheart  : 3
Taxi Driver  : 2
Rumble in the Bronx  : 3
Apollo 13  : 3
Batman Forever  : 4
Crimson Tide  : 3
Desperado  : 3
Doom Generation, The  : 2
Free Willy 2: The Adventure Home  : 3
Mad Love  : 2
Net, The  : 2
Strange Days  : 3
Disclosure  : 2
Dolores Claiborne  : 2
Eat Drink Man Woman  : 2
Ed Wood  : 2
I.Q.  : 2
Star Wars  : 5
Legends of the Fall  : 4
Natural Born Killers  : 2
Outbreak  : 3
Professional, The  : 4
Pulp Fiction  : 2
Stargate  : 3
Santa Clause, The  : 2
What's Eating Gilbert Grape  : 2
While You Were Sleeping  : 2
Crow, The  : 3
Forrest Gump  : 3
Four Weddings and a Funeral  : 2
Lion King, The  : 3
Mask, The  : 3
Maverick  : 3
Faster Pussycat! Kill! Kill!  : 3
Carlito's Way  : 2
Firm, The  : 2
Free Willy  : 3
Fugitive, The  : 2
Hot Shots! Part Deux  : 3
Hudsucker Proxy, The  : 2
Jurassic Park  : 3
Much Ado About Nothing  : 2
Robert A. Heinlein's The Puppet Masters  : 2
Sleepless in Seattle  : 2
Blade Runner  : 2
So I Married an Axe Murderer  : 3
Nightmare Before Christmas, The  : 3
True Romance  : 3
Welcome to the Dollhouse  : 2
Home Alone  : 2
Aladdin  : 4
Terminator 2: Judgment Day  : 3
Dances with Wolves  : 3
Silence of the Lambs, The  : 2
Snow White and the Seven Dwarfs  : 3
Fargo  : 3
Heavy Metal  : 5
Aristocats, The  : 2
All Dogs Go to Heaven 2  : 3
Diabolique  : 2
Mystery Science Theater 3000: The Movie  : 2
Operation Dumbo Drop  : 4
Truth About Cats & Dogs, The  : 2
Flipper  : 2
Rock, The  : 3
Twister  : 3
Striptease  : 2
Independence Day (ID4)  : 3
Frighteners, The  : 2
Lone Star  : 2
Phenomenon  : 2
Godfather, The  : 3
Supercop  : 2
Bound  : 4
Breakfast at Tiffany's  : 2
Wizard of Oz, The  : 4
Gone with the Wind  : 3
2001: A Space Odyssey  : 4
D3: The Mighty Ducks  : 2
Love Bug, The  : 2
Homeward Bound: The Incredible Journey  : 2
20,000 Leagues Under the Sea  : 4
Bedknobs and Broomsticks  : 3
Die Hard  : 2
Lawnmower Man, The  : 3
Long Kiss Goodnight, The  : 2
Ghost and the Darkness, The  : 2
Swingers  : 2
Willy Wonka and the Chocolate Factory  : 3
Sleeper  : 2
Dirty Dancing  : 2
Reservoir Dogs  : 2
Platoon  : 2
Basic Instinct  : 2
Top Gun  : 2
Abyss, The  : 4
Wrong Trousers, The  : 2
Cinema Paradiso  : 3
Delicatessen  : 2
Empire Strikes Back, The  : 6
Princess Bride, The  : 4
Raiders of the Lost Ark  : 2
Aliens  : 4
Good, The Bad and The Ugly, The  : 2
Apocalypse Now  : 2
Return of the Jedi  : 5
GoodFellas  : 2
Alien  : 4
Army of Darkness  : 5
Psycho  : 3
Blues Brothers, The  : 3
Godfather: Part II, The  : 3
Full Metal Jacket  : 3
Grand Day Out, A  : 2
Henry V  : 2
Amadeus  : 2
Sting, The  : 2
Terminator, The  : 3
Graduate, The  : 2
Bridge on the River Kwai, The  : 2
Evil Dead II  : 4
Groundhog Day  : 2
Back to the Future  : 2
Patton  : 2
Akira  : 4
Cyrano de Bergerac  : 3
Young Frankenstein  : 2
This Is Spinal Tap  : 3
Indiana Jones and the Last Crusade  : 2
M*A*S*H  : 2
Room with a View, A  : 2
Pink Floyd - The Wall  : 3
When Harry Met Sally...  : 2
Bram Stoker's Dracula  : 2
Mirror Has Two Faces, The  : 2
Star Trek: First Contact  : 3
Sling Blade  : 2
101 Dalmatians  : 2
Die Hard 2  : 2
Star Trek VI: The Undiscovered Country  : 3
Star Trek: The Wrath of Khan  : 3
Star Trek III: The Search for Spock  : 3
Star Trek IV: The Voyage Home  : 3
Batman Returns  : 4
Young Guns  : 3
Jaws  : 2
Mars Attacks!  : 4
Citizen Ruth  : 2
Jerry Maguire  : 2
Sneakers  : 3
Beavis and Butt-head Do America  : 2
Last of the Mohicans, The  : 3
Jungle2Jungle  : 2
Smilla's Sense of Snow  : 3
Devil's Own, The  : 4
Chasing Amy  : 2
Turbo: A Power Rangers Movie  : 3
Grosse Pointe Blank  : 2
Fifth Element, The  : 2
Lost World: Jurassic Park, The  : 4
Pillow Book, The  : 2
Batman & Robin  : 3
My Best Friend's Wedding  : 2
When the Cats Away (Chacun cherche son chat)  : 2
Men in Black  : 4
Contact  : 2
George of the Jungle  : 2
Event Horizon  : 4
Air Bud  : 2
Mimic  : 2
Hunt for Red October, The  : 2
Kull the Conqueror  : 2
Chasing Amy  : 2
Gattaca  : 3
Starship Troopers  : 4
Heat  : 3
Sabrina  : 2
Sense and Sensibility  : 2
Leaving Las Vegas  : 2
Bed of Roses  : 2
Up Close and Personal  : 2
River Wild, The  : 2
Emma  : 2
Tin Cup  : 2
English Patient, The  : 3
Scream  : 2
Evita  : 2
Absolute Power  : 2
Donnie Brasco  : 2
Breakdown  : 2
Face/Off  : 3
Hoodlum  : 3
Air Force One  : 2
L.A. Confidential  : 4
Fly Away Home  : 2
Mrs. Brown (Her Majesty, Mrs. Brown)  : 2
Devil's Advocate, The  : 4
FairyTale: A True Story  : 3
Wings of the Dove, The  : 3
Midnight in the Garden of Good and Evil  : 4
Titanic  : 3
3 Ninjas: High Noon At Mega Mountain  : 2
Apt Pupil  : 2
As Good As It Gets  : 2
Schindler's List  : 2
Everyone Says I Love You  : 3
Murder at 1600  : 2
Dante's Peak  : 2
Crash  : 2
G.I. Jane  : 3
Cop Land  : 3
Conspiracy Theory  : 4
Desperate Measures  : 3
Edge, The  : 2
Kiss the Girls  : 3
Game, The  : 2
U Turn  : 3
Playing God  : 2
House of Yes, The  : 3
Mad City  : 2
Man Who Knew Too Little, The  : 2
Alien: Resurrection  : 3
Deconstructing Harry  : 2
Jackie Brown  : 2
Wag the Dog  : 2
Desperate Measures  : 3
Hard Rain  : 2
Fallen  : 3
Spice World  : 2
Deep Rising  : 3
Wedding Singer, The  : 2
Sphere  : 3
Client, The  : 3
Spawn  : 4
Incognito  : 2
Blues Brothers 2000  : 3
Mary Reilly  : 2
Bridges of Madison County, The  : 2
Judge Dredd  : 3
Mighty Morphin Power Rangers: The Movie  : 2
Heavyweights  : 2
Star Trek: Generations  : 3
Muriel's Wedding  : 2
Adventures of Priscilla, Queen of the Desert, The  : 2
Flintstones, The  : 2
True Lies  : 4
Beverly Hills Cop III  : 2
Black Beauty  : 2
Last Action Hero  : 2
Radioland Murders  : 3
Serial Mom  : 3
Super Mario Bros.  : 4
Three Musketeers, The  : 3
Little Rascals, The  : 2
Ghost  : 3
Batman  : 4
Pinocchio  : 2
Mission: Impossible  : 3
Thinner  : 2
Close Shave, A  : 3
Jack  : 2
Nutty Professor, The  : 4
Apple Dumpling Gang, The  : 3
Old Yeller  : 2
Parent Trap, The  : 2
Cinderella  : 3
Mary Poppins  : 3
Alice in Wonderland  : 3
William Shakespeare's Romeo and Juliet  : 2
Aladdin and the King of Thieves  : 3
E.T. the Extra-Terrestrial  : 4
Transformers: The Movie, The  : 6
Day the Earth Stood Still, The  : 2
Duck Soup  : 2
Highlander  : 2
Fantasia  : 3
Butch Cassidy and the Sundance Kid  : 3
Blob, The  : 2
Star Trek: The Motion Picture  : 3
Star Trek V: The Final Frontier  : 3
Grease  : 3
Jaws 2  : 2
Jaws 3-D  : 2
Beverly Hills Ninja  : 2
Free Willy 3: The Rescue  : 3
Like Water For Chocolate (Como agua para chocolate)  : 2
Jungle Book, The  : 3
Courage Under Fire  : 2
Dragonheart  : 3
James and the Giant Peach  : 3
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb  : 2
Matilda  : 2
Philadelphia Story, The  : 2
Vertigo  : 2
North by Northwest  : 2
Apartment, The  : 2
Some Like It Hot  : 2
Casablanca  : 3
Maltese Falcon, The  : 2
My Fair Lady  : 2
Sabrina  : 2
Roman Holiday  : 2
Notorious  : 3
To Catch a Thief  : 3
Adventures of Robin Hood, The  : 2
Around the World in 80 Days  : 2
African Queen, The  : 4
Fly Away Home  : 2
Dumbo  : 3
Bananas  : 2
Bonnie and Clyde  : 2
Dial M for Murder  : 2
Magnificent Seven, The  : 3
Lawrence of Arabia  : 2
Wings of Desire  : 3
Third Man, The  : 2
Annie Hall  : 2
Boot, Das  : 3
Manhattan  : 3
Great Escape, The  : 2
Deer Hunter, The  : 2
Down by Law  : 2
Cool Hand Luke  : 2
Big Sleep, The  : 2
Ben-Hur  : 3
Killing Fields, The  : 2
Shine  : 2
Addicted to Love  : 2
Anastasia  : 3
Mouse Hunt  : 2
Mortal Kombat  : 2
Pocahontas  : 4
Misérables, Les  : 2
Things to Do in Denver when You're Dead  : 3
Vampire in Brooklyn  : 2
Broken Arrow  : 2
NeverEnding Story III, The  : 2
Rob Roy  : 3
Die Hard: With a Vengeance  : 2
Walk in the Clouds, A  : 2
Waterworld  : 2
Farinelli: il castrato  : 2
Heavenly Creatures  : 3
Interview with the Vampire  : 2
Kid in King Arthur's Court, A  : 6
Mary Shelley's Frankenstein  : 2
Quick and the Dead, The  : 3
Tales from the Hood  : 2
Village of the Damned  : 2
Clear and Present Danger  : 3
Speed  : 3
Wolf  : 2
Another Stakeout  : 2
Blown Away  : 2
Body Snatchers  : 3
Boxing Helena  : 3
City Slickers II: The Legend of Curly's Gold  : 2

Cliffhanger  : 3
Coneheads  : 2
Demolition Man  : 2
Englishman Who Went Up a Hill, But Came Down a Mountain, The  : 2
Kalifornia  : 2
Piano, The  : 2
Romeo Is Bleeding  : 2
Secret Garden, The  : 2
Hour of the Pig, The  : 2
Beauty and the Beast  : 3
Hellraiser: Bloodline  : 3
Primal Fear  : 2
True Crime  : 2
Heavy  : 2
Hunchback of Notre Dame, The  : 3
Eraser  : 2
Big Squeeze, The  : 2
For Whom the Bell Tolls  : 2
American in Paris, An  : 2
Rear Window  : 2
Rebecca  : 2
Spellbound  : 3
Laura  : 3
Night of the Living Dead  : 2
Extreme Measures  : 2
Swiss Family Robinson  : 2
Angels in the Outfield  : 2
Three Caballeros, The  : 3
Sword in the Stone, The  : 2
So Dear to My Heart  : 2
Sleepers  : 2
Victor/Victoria  : 2
Great Race, The  : 2
Crying Game, The  : 4
Escape from New York  : 4
Howling, The  : 2
Paths of Glory  : 2
Grifters, The  : 3
The Innocent  : 2
Ran  : 2
Quiet Man, The  : 2
Once Upon a Time in America  : 3
Glory  : 3
Rosencrantz and Guildenstern Are Dead  : 2
Touch of Evil  : 3
Chinatown  : 3
Stand by Me  : 3
M  : 3
Manchurian Candidate, The  : 2
Arsenic and Old Lace  : 3
Somewhere in Time  : 2
Alien 3  : 4
Blood Beach  : 2
Body Snatchers  : 3
Cape Fear  : 2
Volcano  : 2
Conan the Barbarian  : 2
Kull the Conqueror  : 2
I Know What You Did Last Summer  : 3
In the Line of Fire  : 2
Executive Decision  : 2
Perfect World, A  : 2
McHale's Navy  : 2
Jackal, The  : 2
Seven Years in Tibet  : 2
Dark City  : 3
American President, The  : 3
Kicking and Screaming  : 2
City Hall  : 2
Barcelona  : 2
House of the Spirits, The  : 2
Singin' in the Rain  : 2
Strictly Ballroom  : 2
Tin Men  : 2
Carrington  : 2
To Die For  : 2
Home for the Holidays  : 2
Juror, The  : 2
Canadian Bacon  : 2
First Knight  : 4
Boys on the Side  : 2
Circle of Friends  : 2
Fluke  : 2
Immortal Beloved  : 2
Junior  : 2
Queen Margot (Reine Margot, La)  : 2
Corrina, Corrina  : 3
Dave  : 2
Go Fish  : 2
Shadowlands  : 2
Sirens  : 2
Threesome  : 2
Pretty Woman  : 2
Jane Eyre  : 2
Last Supper, The  : 2
Ransom  : 2
Crow: City of Angels, The  : 2
Michael Collins  : 2
Benny & Joon  : 2
Saint, The  : 3
MatchMaker, The  : 2
Tomorrow Never Dies  : 3
Replacement Killers, The  : 2
Red Corner  : 2
Jumanji  : 5
Lawnmower Man 2: Beyond Cyberspace  : 2
Nick of Time  : 2
If Lucy Fell  : 2
Boomerang  : 2
Casper  : 2
Congo  : 4
Devil in a Blue Dress  : 4
Johnny Mnemonic  : 3
Something to Talk About  : 3
Don Juan DeMarco  : 3
French Kiss  : 2
Milk Money  : 2
Beyond Bedlam  : 2
Only You  : 2
Perez Family, The  : 2
Roommates  : 2
Relative Fear  : 2
Swimming with Sharks  : 2
It Could Happen to You  : 2
Richie Rich  : 2
Speechless  : 2
Timecop  : 2
In the Mouth of Madness  : 2
Hard Target  : 4
Heaven & Earth  : 3
Manhattan Murder Mystery  : 2
Menace II Society  : 3
Program, The  : 2
Rising Sun  : 3
Andre  : 2
One Fine Day  : 2
Space Jam  : 5
Mrs. Winterbourne  : 2
Mulholland Falls  : 3
Arrival, The  : 3
Daylight  : 3
Alaska  : 2
Fled  : 2
Power 98  : 3
Escape from L.A.  : 4
Bogus  : 3
Halloween: The Curse of Michael Myers  : 2
Gay Divorcee, The  : 3
Ninotchka  : 2
Loch Ness  : 2
Last Man Standing  : 3
Glimmer Man, The  : 2
Pollyanna  : 3
Shaggy Dog, The  : 2
To Gillian on Her 37th Birthday  : 2
Looking for Richard  : 2
Murder, My Sweet  : 2
Days of Thunder  : 2
Bloody Child, The  : 2
Braindead  : 2
Bad Taste  : 2
Diva  : 5
Night on Earth  : 2
April Fool's Day  : 2
Believers, The  : 2
Jingle All the Way  : 3
Michael  : 2
Fools Rush In  : 2
Picture Perfect  : 2
She's So Lovely  : 2
Money Talks  : 2
Excess Baggage  : 2
That Darn Cat!  : 3
Peacemaker, The  : 3
Money Talks  : 2
Life Less Ordinary, A  : 2
Mortal Kombat: Annihilation  : 2
Bent  : 2
Flubber  : 3
Home Alone 3  : 2
Scream 2  : 2
Time Tracers  : 3
Big Lebowski, The  : 4
Afterglow  : 2
Ma vie en rose (My Life in Pink)  : 2
Great Expectations  : 2
Oscar & Lucinda  : 2
Twilight  : 2
U.S. Marshalls  : 2
Wild Things  : 4
Lost in Space  : 3
Mercury Rising  : 3
City of Lost Children, The  : 2
Farewell My Concubine  : 2
White Squall  : 2
Unforgettable  : 2
Craft, The  : 2
Harriet the Spy  : 2
Chain Reaction  : 3
Island of Dr. Moreau, The  : 2
First Kid  : 2
Paradise Road  : 2
Brassed Off  : 3
Smile Like Yours, A  : 2
Murder in the First  : 2
With Honors  : 2
Renaissance Man  : 3
Charade  : 4
Fox and the Hound, The  : 2
Big Blue, The (Grand bleu, Le)  : 2
Booty Call  : 2
How to Make an American Quilt  : 2
Indian in the Cupboard, The  : 3
Unstrung Heroes  : 2
Before Sunrise  : 2
Some Folks Call It a Sling Blade  : 2
Month by the Lake, A  : 2
Funny Face  : 2
Winnie the Pooh and the Blustery Day  : 2
Mediterraneo  : 2
Eye for an Eye  : 2
Solo  : 3
Heaven's Prisoners  : 2
Trigger Effect, The  : 2
Maximum Risk  : 3
Beautician and the Beast, The  : 2
Cats Don't Dance  : 3
Anna Karenina  : 2
Head Above Water  : 2
Hercules  : 5
Big Green, The  : 2
Lightning Jack  : 2
That Darn Cat!  : 3
Geronimo: An American Legend  : 2
Until the End of the World (Bis ans Ende der Welt)  : 2
Private Parts  : 2
Anaconda  : 3
Shiloh  : 2
Con Air  : 3
Die xue shuang xiong (Killer, The)  : 2
Gaslight  : 2
Fire Down Below  : 3
Lay of the Land, The  : 2
Grumpier Old Men  : 2
Lassie  : 2
Little Big League  : 2
Homeward Bound II: Lost in San Francisco  : 2
Quest, The  : 2
Drop Dead Fred  : 2
Grease 2  : 3
Two if by Sea  : 2
Forget Paris  : 2
Just Cause  : 2
Paper, The  : 2
She's the One  : 2
Ghost and Mrs. Muir, The  : 2
Dracula: Dead and Loving It  : 2
War, The  : 2
Adventures of Pinocchio, The  : 2
Evening Star, The  : 2
Little Princess, A  : 2
Crossfire  : 2
Koyaanisqatsi  : 2
Balto  : 2
Amateur  : 3
Pyromaniac's Love Story, A  : 2
Reality Bites  : 2
Pagemaster, The  : 5
Oliver & Company  : 2
Joe's Apartment  : 2
Albino Alligator  : 2
Carried Away  : 2
Speed 2: Cruise Control  : 3
Pete's Dragon  : 4
What Happened Was...  : 3
Six Degrees of Separation  : 2
Two Much  : 2
Trust  : 2
C'est arrivé près de chez vous  : 3
Firestorm  : 3
Newton Boys, The  : 2
Death and the Maiden  : 2
Tank Girl  : 4
Twelfth Night  : 3
Some Kind of Wonderful  : 2
Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les)  : 2
They Made Me a Criminal  : 2
Farewell to Arms, A  : 2
Old Man and the Sea, The  : 2
Chungking Express  : 3
Feeling Minnesota  : 2
Escape to Witch Mountain  : 3
Doors, The  : 2
Beautiful Thing  : 2
Best Men  : 4
Hackers  : 3
Hard Eight  : 2
In Love and War  : 2
Backbeat  : 2
Rendezvous in Paris (Rendez-vous de Paris, Les)  : 2
Cyclo  : 2
Stalker  : 2
Love! Valour! Compassion!  : 2
Palookaville  : 2
Big Bully  : 2
Spanking the Monkey  : 2
Bliss  : 2
Caught  : 2
Welcome To Sarajevo  : 2
I Love Trouble  : 2
Low Down Dirty Shame, A  : 2
Cowboy Way, The  : 2
In the Army Now  : 2
Inkwell, The  : 2
Young Guns II  : 3
That Old Feeling  : 2
Letter From Death Row, A  : 2
Once Were Warriors  : 2
Family Thing, A  : 2
Purple Noon  : 2
Cemetery Man (Dellamorte Dellamore)  : 2
Kim  : 2
Top Hat  : 3
To Be or Not to Be  : 3
Kiss of Death  : 3
Virtuosity  : 2
Blue Sky  : 2
Flesh and Bone  : 3
Guilty as Sin  : 3
Barb Wire  : 2
Goofy Movie, A  : 4
Night Falls on Manhattan  : 2
Poison Ivy II  : 2
Marked for Death  : 2
Twisted  : 2
Cutthroat Island  : 3
Ghost in the Shell (Kokaku kidotai)  : 2
Van, The  : 2
Trial and Error  : 2
Pie in the Sky  : 2
Love in the Afternoon  : 2
Talking About Sex  : 2
Color of Night  : 2
Robocop 3  : 2
Set It Off  : 2
Selena  : 2
Wild America  : 2
Before and After  : 2
Shall We Dance?  : 3
Country Life  : 2
Simple Wish, A  : 2
Star Kid  : 4
Kicked in the Head  : 2
Indian Summer  : 2
Love Affair  : 2
Band Wagon, The  : 2
Penny Serenade  : 2
'Til There Was You  : 2
New York Cop  : 2
Babyfever  : 2
Waiting to Exhale  : 2
Pompatus of Love, The  : 2
Palmetto  : 3
Surviving the Game  : 3
Inventing the Abbotts  : 2
Loaded  : 2
Midnight Dancers (Sibak)  : 2
Kazaam  : 3
Stefano Quantestorie  : 2
For the Moment  : 2
Johnny 100 Pesos  : 2
JLG/JLG - autoportrait de décembre  : 2
I Can't Sleep (J'ai pas sommeil)  : 2
Machine, The  : 2
Hotel de Love  : 2
Second Jungle Book: Mowgli & Baloo, The  : 2
Roseanna's Grave (For Roseanna)  : 2
Stag  : 2
Picture Bride  : 2
Caro Diario (Dear Diary)  : 2
When Night Is Falling  : 2
Swan Princess, The  : 2
Barbarella  : 2
Land Before Time III: The Time of the Great Giving (199 : 2
Next Karate Kid, The  : 2
No Escape  : 2
Highlander III: The Sorcerer  : 2
Suture  : 2
Walking Dead, The  : 2

I Like It Like That  : 3
I'll Do Anything  : 2
Grace of My Heart  : 2
Sliding Doors  : 2
Men of Means  : 2
Mr. Jones  : 2
Jason's Lyric  : 2
Moonlight and Valentino  : 2
That Darn Cat!  : 3
Golden Earrings  : 2
Lady of Burlesque  : 2
Angel on My Shoulder  : 2
Beat the Devil  : 2
Love Is All There Is  : 2
Damsel in Distress, A  : 3
Sleepover  : 2
Thieves (Voleurs, Les)  : 3
Last Summer in the Hamptons  : 2
Tom and Huck  : 2
Gumby: The Movie  : 2
Visitors, The (Visiteurs, Les)  : 2
Little Princess, The  : 2
Nina Takes a Lover  : 2
Bhaji on the Beach  : 2
Nightwatch  : 2
Dead Presidents  : 3
Herbie Rides Again  : 3
Man in the Iron Mask, The  : 3
Jerky Boys, The  : 2
Colonel Chabert, Le  : 3
Even Cowgirls Get the Blues  : 2
Tough and Deadly  : 3
Carpool  : 2
Naked in New York  : 2
Gold Diggers: The Secret of Bear Mountain  : 2
Killer: A Journal of Murder  : 2
Babysitter, The  : 2
Wings of Courage  : 2
New Jersey Drive  : 2
Mr. Wonderful  : 2
Good Man in Africa, A  : 2
Object of My Affection, The  : 2
Witness  : 3
Far From Home: The Adventures of Yellow Dog  : 2
Twin Town  : 2
Amazing Panda Adventure, The  : 2
Frankie Starlight  : 2
The Courtyard  : 2
Underneath, The  : 2
Secret Adventures of Tom Thumb, The  : 2
Condition Red  : 3
Yankee Zulu  : 2
Hostile Intentions  : 3
Tigrero: A Film That Was Never Made  : 2
Vermont Is For Lovers  : 2
Vie est belle, La (Life is Rosey)  : 2
Lashou shentan  : 3
Salut cousin!  : 2
Shopping  : 2
Nemesis 2: Nebula  : 3
Romper Stomper  : 2
City of Industry  : 2
He Walked by Night  : 3
Buddy  : 3
Truth or Consequences, N.M.  : 3
Tokyo Fist  : 2
Reluctant Debutante, The  : 2
Warriors of Virtue  : 4
King of New York  : 2
Nightwatch  : 2
Nobody Loves Me (Keiner liebt mich)  : 2
Wife, The  : 2
Slingshot, The  : 2
Á köldum klaka (Cold Fever)  : 2
Normal Life  : 2
Men With Guns  : 2
Hana-bi  : 3
Big One, The  : 2
Spanish Prisoner, The  : 2
Favor, The  : 2
Little City  : 2
Target  : 2
Rough Magic  : 2
Nothing Personal  : 2
MURDER and murder  : 3
Tainted  : 2
Mirage  : 2
B. Monkey  : 2
Sliding Doors  : 2

#### 6. Drop the movie where the genre is unknown - 2.5 marks

In [110]:
print(item.drop(item.index[1371], inplace=True))

None

### 7. Univariate plots of columns: 'rating', 'Age', 'release year', 'Gender' and 'Occupation' - 10 marks

In [3]:
# HINT: use distplot for age and countplot for gender,ratings,occupation, release year.
# HINT: Please refer to the below snippet to understand how to get to release year from release date. You can use str.split()
# as depicted below.

In [ ]:
a = 'My*cat*is*brown'
print(a.split('*')[3])

#similarly, the release year needs to be taken out from release date

#also you can simply slice existing string to get the desired data, if we want to take out the colour of the cat

print(a[10:])
print(a[-5:])

In [ ]:
#your answers here

### 8. Visualize how popularity of genres has changed over the years - 10 marks

Note that you need to use the number of releases in a year as a parameter of popularity of a genre

Hint 

1: you need to reach to a data frame where the release year is the index and the genre is the column names (one cell shows the number of release in a year in one genre) or vice versa.
Once that is achieved, you can either use multiple bivariate plots or can use the heatmap to visualise all the changes over the years in one go. 

Hint 2: Use groupby on the relevant column and use sum() on the same to find out the nuumber of releases in a year/genre.

In [ ]:
#Your answer here

### 9. Find the top 25 movies according to average ratings such that each movie has number of ratings more than 100 - 10 marks

Hint : 

1. First find the movies that have more than 100 ratings(use merge, groupby and count). Extract the movie id in a list.
2. Find the average rating of all the movies and sort them in the descending order. You will have to use the .merge() function to reach to a data set through which you can get the ids and the average rating.
3. Use isin(list obtained from 1) to filter out the movies which have more than 100 ratings.

Note: This question will need you to research about groupby and apply your findings. You can find more on groupby on https://realpython.com/pandas-groupby/.

In [ ]:
#your answer here

### 10. See gender distribution across different genres check for the validity of the below statements - 10 marks

* Men watch more drama than women
* Women watch more Sci-Fi than men
* Men watch more Romance than women

1. There is no need to conduct statistical tests around this. Just compare the percentages and comment on the validity of the above statements.

2. you might want ot use the .sum(), .div() function here.
3. Use number of ratings to validate the numbers. For example, if out of 4000 ratings received by women, 3000 are for drama, we will assume that 75% of the women watch drama.

#### Conclusion:

In [1]:
#write the conclusions here